.home-oversigt-hoteller-wrapper {
    background-color: $WHITE;
    color: $DARK_GRAY_TEXT;

    .home-oversigt-hoteller__title {
        padding: 20px 25px;
        font-size:25px;
        font-weight: bold;
        border-bottom: 1px solid $LIGHT_GRAY_BORDER;
    }

    .home-oversigt-hoteller__desktop-table th, .home-oversigt-hoteller__desktop-table td {
        width: 10%;
    }
    
    .home-oversigt-hoteller__desktop-table {

        .home-oversigt-hoteller-list__heading, .home-oversigt-hoteller-list__content {
            .hoteller-list-item__name, .hoteller-list-item__centrum,
            .hoteller-list-item__centrum, .hoteller-list-item__varelser,
            .hoteller-list-item__stjerner, .hoteller-list-item__by,
            .hoteller-list-item__book {
                font-weight: 700;
                font-size: 14px;
                padding: 10px 10px;
                border-bottom: 1px solid $LIGHT_GRAY_BORDER;
            }

            .hoteller-list-item__name {
                width: 50%;
                padding-left: 25px;

                .fa-sort-down {
                    position: relative;
                    top: -3px;
                    color: $OCEAN_BLUE;
                }
            }

            .hoteller-list-item__by {
                width: 25%;
            }

            .hoteller-list-item__book {
                padding-right: 25px;
            }
        }

        .home-oversigt-hoteller-list__content {
            .hoteller-list-item__name, .hoteller-list-item__centrum,
            .hoteller-list-item__centrum, .hoteller-list-item__varelser,
            .hoteller-list-item__stjerner, .hoteller-list-item__by,
            .hoteller-list-item__book {
                font-weight: 300;
                font-size: 15px;
            }

            .hoteller-list-item__centrum, .hoteller-list-item__varelser,
            .hoteller-list-item__stjerner {
                text-align: center;
            }

            .hoteller-list-item__book {
                font-weight: 700;
                color: $OCEAN_BLUE;
            }
        }
    }

    .home-oversigt-hoteller__se-alle-hoteller {
        color: $OCEAN_BLUE;
        font-size: 18px;
        font-weight: 500;
        padding: 10px 25px;

        .fa-angle-down {
             display: inline-block;
        }

        .fa-sort-down {
            display: none;
            position: relative;
            top: -4px;
            color: $DARK_GRAY_TEXT;
        }
    }

    
    @media screen and (max-width: $PHONE) {
        .home-oversigt-hoteller__desktop-table {
            display: none;
        }

        .home-oversigt-hoteller__mobile-table {
            display: table !important;
        }

        .home-oversigt-hoteller__se-alle-hoteller {
            text-align: center;

            .fa-angle-down {
                display: none;
            }

            .fa-sort-down {
                display: inline-block;
            }
        }
    }

    .home-oversigt-hoteller__mobile-table {
        display: none;
        width: 100%;

        .home-oversigt-hoteller-list__content {
            border: 0;
            padding: 15px 25px;
            padding-bottom: 5px;
            position: relative;

            .hoteller-list-item__name {
                font-weight: 700;
                width: 65%;
            }
            
            .hoteller-list-item__book {
                position: absolute;
                right: 15px;
                top: 15px;

                a {
                    text-decoration: none;
                    font-size: 18px;
                    text-transform: uppercase;
                    color: $WHITE;
                    background-color: $OCEAN_BLUE;
                    padding: 5px 15px;
                }
            }
        }

        .hoteller-list-item__details {
            padding: 15px 25px;
            padding-top: 5px;
            text-transform: uppercase;
            color: $GRAY;
            border-bottom: 1px solid $LIGHT_GRAY_BORDER;
            font-size: 11px;

            span {
                padding: 0 8px;
                position: relative;
            }

            span:nth-child(1) {
                padding-left: 0;
            }

            span:nth-child(4) {
                padding-right: 0;
            }

            i.fa-circle {
                position: absolute;
                font-size: 3px;
                top: 5px;
                left: 0;
            }
        }
    }
}