.home-main-content-wrapper {
    width: 67%;
    min-height: 700px;
    background-color: $WHITE;
    color: $DARK_GRAY_TEXT;
    float: right;
    clear: right;
    margin-top: 45px;

    @media (max-width: $TABLET){
        width: 100%;
        float: none;
        clear: both;
    }
}