
<div class="home-header-container">
    <div class="home-header-wrapper container">

        <div class="home-header-wrapper__title">
            <img src="/public/img/logo.png" />

            <div class="home-header__name">
                <span>KOBENHAVN</span>
                <span> HOTELLER</span>
                <span> - altid de bedste tilbud pa hotelvarelser</span>
            </div>
        </div>
        
        <div class="home-header-wrapper__social-icon">
            <!-- Desktop -->
            <span>Del pa: </span>

            <div class="home-header-social-icon__list">
                <div class="social-icon-list__item">
                    <i class="fa fa-facebook"></i>
                </div>

                <div class="social-icon-list__item">
                    <i class="fa fa-twitter"></i>
                </div>

                <div class="social-icon-list__item">
                    <i class="fa fa-youtube"></i>
                </div>

                <div class="social-icon-list__item">
                    <i class="fa fa-instagram"></i>
                </div>

                <div class="social-icon-list__item">
                    <i class="fa fa-google-plus"></i>
                </div>
            </div>
        </div>
    </div>
</div>