
<div class="home-header-container">
    <div class="home-header-wrapper container">

        <div class="home-header-wrapper__title">
            <img src="/public/img/logo.png" />

            <div class="home-header__name">
                <span>KOBENHAVN</span>
                <span> HOTELLER</span>
                <span> - altid de bedste tilbud pa hotelvarelser</span>
            </div>
        </div>
        
        <div class="home-header-wrapper__social-icon">
            <!-- Desktop -->
            <span>Del pa: </span>

            <div class="home-header-social-icon__list">
                {{#each home_header_social_icon.items}}
                <div class="social-icon-list__item">
                    <i class="fa fa-{{name}}"></i>
                </div>
                {{/each}}
            </div>

            <!-- Mobile -->
            <a class="social-droplist-opening-button">
                <span>Del pa</span> <i class="fa fa-sort-down"></i>
            </a>

            <ul class="social-drop-down-list">
                {{#each home_header_social_icon.items}}
                <li class="social-drop-down-list__item">
                    <div class="social-icon-list__item">
                        <i class="fa fa-{{name}}"></i>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $(".social-drop-down-list").fadeOut(0);

        $(window).on('resize', function () {
            if ($(window).width() > 992) {
                var icon = $(".social-droplist-opening-button").find("i");

                $(".social-drop-down-list").fadeOut(0);
                $(".social-drop-down-list").removeClass("opening");

                if(icon.hasClass("fa-sort-up fa-sort-up-margin-top")) {
                    icon.removeClass("fa-sort-up fa-sort-up-margin-top");
                }
                icon.addClass("fa-sort-down");
            }
        });
    });

    $(".social-droplist-opening-button").on("click", function(){
        var droplist = $(".social-drop-down-list");
        var icon = $(".social-droplist-opening-button").find("i");

        if(droplist.hasClass("opening")){
            droplist.removeClass("opening");
            icon.removeClass("fa-sort-up fa-sort-up-margin-top");
            icon.addClass("fa-sort-down");
            droplist.fadeOut(100);
        } else {
            droplist.addClass("opening");
            icon.removeClass("fa-sort-down");
            icon.addClass("fa-sort-up fa-sort-up-margin-top");
            droplist.fadeIn(100);
        }
    })
</script>