$LAPTOP: 1270px;
$SMALL_LAPTOP: 1200px;
$BIG_TABLET: 1024px; 
$TABLET: 992px; 
$SMALL_TABLET: 840px;
$BIG_PHONE: 768px;
$PHONE: 640px;
$SMALL_PHONE: 480px;

$DARK_RED: #D43535;
$BROWN_RED: #CC3333;
$OCEAN_BLUE: #0685C5;
$OCEAN_BLUE_LIGHTER: #20b0f8;
$GRAY_ICON: #B2B2B2;
$GRAY: #908D8D;
$GRAY_BACKGROUND: #efefef;
$LIGHT_GRAY_BORDER: #e6e6e6;
$DARK_GRAY_TEXT: #333333;
$LIGHT_GRAY_TEXT: #F2F2F2;
$WHITE: #FFF;
$BLACK: #000;