<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <title>AlTayer Motors website | </title>

    <meta property="og:title" content="Niteco website" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="http://www.niteco.se" />
    <meta property="og:site_name" content="Niteco.se" />
    <meta property="og:description" content="Website Nitceo" />

    <meta name="author" content="" />
    <meta name="description" content="" />

    <link rel="canonical" href="http://www.niteco.se/" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Delius">
    <link href="/public/css/screen.css" rel="stylesheet" media="screen" />
    <link href="/public/css/print.css" rel="stylesheet" media="print" />

    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ['Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic:latin,latin-ext'] }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })(); </script>

</head>

<body class="bg-white">



    <div class="home-hoteller-tilbud-wrapper">
    <div class="home-hoteller-tilbud__title">
        <p class="hoteller-tilbud-title__big-title">HOTELLER I KOBENHAVN</p>
        <p class="hoteller-tilbud-title__details">Dagens udvalgte hoteltilbud fra hoteller i Kobenhavn</p>
    </div>

    
    <div class="home-hoteller-tilbud__hotel-box">
        <div class="hotel-box__image">
            <img src="/public/img/ansgar_hotel.png">
        </div>

        <div class="hotel-box__content">
            <div class="hotel-box-content__details">
                <p class="hotel-box-details__tilbud">TILBUD: SPAR 39%</p>
                <p class="hotel-box-details__name">ANSGAR HOTEL</p>
                <p class="hotel-box-details__history">Colbjornsensgade 29, 1652m Kobenhavn V</p>
                <a class="home-hoteller-tilbud__se-alle-tilbud">Se alle tilbud <i class="fa fa-angle-double-right"></i></a>
            </div>

            <div class="hotel-box-content__book">
                <p class="book-pr-overnating">PR OVERNATING</p>
                <p class="book__old-price">DKK 3.175,-</p>
                <p class="book__new-price">1.925,-</p>

                <a class="book__button">BOOK</a>
            </div>
        </div>
    </div>
    
    <div class="home-hoteller-tilbud__hotel-box">
        <div class="hotel-box__image">
            <img src="/public/img/ascot_hotel.png">
        </div>

        <div class="hotel-box__content">
            <div class="hotel-box-content__details">
                <p class="hotel-box-details__tilbud">TILBUD: SPAR 16%</p>
                <p class="hotel-box-details__name">ASCOT HOTEL &amp; SPA</p>
                <p class="hotel-box-details__history">Studiestrade 61, 1554, Kobenhavn V</p>
                <a class="home-hoteller-tilbud__se-alle-tilbud">Se alle tilbud <i class="fa fa-angle-double-right"></i></a>
            </div>

            <div class="hotel-box-content__book">
                <p class="book-pr-overnating">PR OVERNATING</p>
                <p class="book__old-price">DKK 3.175,-</p>
                <p class="book__new-price">1.495,-</p>

                <a class="book__button">BOOK</a>
            </div>
        </div>
    </div>
    
    <div class="home-hoteller-tilbud__hotel-box">
        <div class="hotel-box__image">
            <img src="/public/img/maritime_hotel.png">
        </div>

        <div class="hotel-box__content">
            <div class="hotel-box-content__details">
                <p class="hotel-box-details__tilbud">TILBUD: DER ER PENGE AT SPARE</p>
                <p class="hotel-box-details__name">HOTEL MARITIME</p>
                <p class="hotel-box-details__history">Peder Skrams Gade 19, 1054, Kobenhavn K</p>
                <a class="home-hoteller-tilbud__se-alle-tilbud">Se alle tilbud <i class="fa fa-angle-double-right"></i></a>
            </div>

            <div class="hotel-box-content__book">
                <p class="book-pr-overnating">PR OVERNATING</p>
                <p class="book__old-price">DKK 3.175,-</p>
                <p class="book__new-price">1.495,-</p>

                <a class="book__button">BOOK</a>
            </div>
        </div>
    </div>
    
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


</body>

</html>
