<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <title>AlTayer Motors website | </title>

    <meta property="og:title" content="Niteco website" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="http://www.niteco.se" />
    <meta property="og:site_name" content="Niteco.se" />
    <meta property="og:description" content="Website Nitceo" />

    <meta name="author" content="" />
    <meta name="description" content="" />

    <link rel="canonical" href="http://www.niteco.se/" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Delius">
    <link href="/public/css/screen.css" rel="stylesheet" media="screen" />
    <link href="/public/css/print.css" rel="stylesheet" media="print" />

    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ['Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic:latin,latin-ext'] }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })(); </script>

</head>

<body class="bg-white">



    <div class="home-oversigt-hoteller-wrapper">

    <div class="home-oversigt-hoteller__title">
        <span>OVETSIGT OVER HOTELLER I KOBENHAVN</span>
    </div>

    <!-- Desktop view -->
    <table class="home-oversigt-hoteller__desktop-table">
        
        <tr class="home-oversigt-hoteller-list__heading">
            <td class="hoteller-list-item__name">
                <span>Hoteller </span>
                <i class="fa fa-sort-down"></i>
            </td>

            <td class="hoteller-list-item__centrum">
                <span>Centrum </span>
            </td>

            <td class="hoteller-list-item__varelser">
                <span>Valrelser </span>
            </td>

            <td class="hoteller-list-item__stjerner">
                <span>Stjerner </span>
            </td>

            <td class="hoteller-list-item__by">
                <span>By </span>
            </td>

            <td class="hoteller-list-item__book">
                <span>Book </span>
            </td>
        </tr>

        <!-- LIST HOTELLER DATA -->
        
         <tr class="home-oversigt-hoteller-list__content">
            <td class="hoteller-list-item__name">
                <span>Hotel Alexandra </span>
            </td>

            <td class="hoteller-list-item__centrum">
                <span>0,2 </span>
            </td>

            <td class="hoteller-list-item__varelser">
                <span>25 </span>
            </td>

            <td class="hoteller-list-item__stjerner">
                <span>4 </span>
            </td>

            <td class="hoteller-list-item__by">
                <span>Kobenhavn V </span>
            </td>

            <td class="hoteller-list-item__book">
                <span>Book </span>
            </td>
        </tr>
        
         <tr class="home-oversigt-hoteller-list__content">
            <td class="hoteller-list-item__name">
                <span>Selandia Budget Hotel Copenhagen </span>
            </td>

            <td class="hoteller-list-item__centrum">
                <span>0,6 </span>
            </td>

            <td class="hoteller-list-item__varelser">
                <span>125 </span>
            </td>

            <td class="hoteller-list-item__stjerner">
                <span>3 </span>
            </td>

            <td class="hoteller-list-item__by">
                <span>Kobenhavn K </span>
            </td>

            <td class="hoteller-list-item__book">
                <span>Book </span>
            </td>
        </tr>
        
         <tr class="home-oversigt-hoteller-list__content">
            <td class="hoteller-list-item__name">
                <span>Clarion Collection Hotel Twentyseven </span>
            </td>

            <td class="hoteller-list-item__centrum">
                <span>0,5 </span>
            </td>

            <td class="hoteller-list-item__varelser">
                <span>365 </span>
            </td>

            <td class="hoteller-list-item__stjerner">
                <span>3 </span>
            </td>

            <td class="hoteller-list-item__by">
                <span>Kobenhavn K </span>
            </td>

            <td class="hoteller-list-item__book">
                <span>Book </span>
            </td>
        </tr>
        
         <tr class="home-oversigt-hoteller-list__content">
            <td class="hoteller-list-item__name">
                <span>Scandic Sydhavnen </span>
            </td>

            <td class="hoteller-list-item__centrum">
                <span>0,2 </span>
            </td>

            <td class="hoteller-list-item__varelser">
                <span>47 </span>
            </td>

            <td class="hoteller-list-item__stjerner">
                <span>3 </span>
            </td>

            <td class="hoteller-list-item__by">
                <span>Kobenhavn S </span>
            </td>

            <td class="hoteller-list-item__book">
                <span>Book </span>
            </td>
        </tr>
        
         <tr class="home-oversigt-hoteller-list__content">
            <td class="hoteller-list-item__name">
                <span>Savoy Hotel </span>
            </td>

            <td class="hoteller-list-item__centrum">
                <span>0,4 </span>
            </td>

            <td class="hoteller-list-item__varelser">
                <span>56 </span>
            </td>

            <td class="hoteller-list-item__stjerner">
                <span>2 </span>
            </td>

            <td class="hoteller-list-item__by">
                <span>Kobenhavn V </span>
            </td>

            <td class="hoteller-list-item__book">
                <span>Book </span>
            </td>
        </tr>
        
         <tr class="home-oversigt-hoteller-list__content">
            <td class="hoteller-list-item__name">
                <span>Scandic Palace Hotel </span>
            </td>

            <td class="hoteller-list-item__centrum">
                <span>1,0 </span>
            </td>

            <td class="hoteller-list-item__varelser">
                <span>214 </span>
            </td>

            <td class="hoteller-list-item__stjerner">
                <span>5 </span>
            </td>

            <td class="hoteller-list-item__by">
                <span>Kobenhvn V </span>
            </td>

            <td class="hoteller-list-item__book">
                <span>Book </span>
            </td>
        </tr>
        
         <tr class="home-oversigt-hoteller-list__content">
            <td class="hoteller-list-item__name">
                <span>Hotel Maritime </span>
            </td>

            <td class="hoteller-list-item__centrum">
                <span>1,1 </span>
            </td>

            <td class="hoteller-list-item__varelser">
                <span>22 </span>
            </td>

            <td class="hoteller-list-item__stjerner">
                <span>5 </span>
            </td>

            <td class="hoteller-list-item__by">
                <span>Kobenhavn K </span>
            </td>

            <td class="hoteller-list-item__book">
                <span>Book </span>
            </td>
        </tr>
        
         <tr class="home-oversigt-hoteller-list__content">
            <td class="hoteller-list-item__name">
                <span>Phoenix Copenhagen </span>
            </td>

            <td class="hoteller-list-item__centrum">
                <span>0,6 </span>
            </td>

            <td class="hoteller-list-item__varelser">
                <span>236 </span>
            </td>

            <td class="hoteller-list-item__stjerner">
                <span>4 </span>
            </td>

            <td class="hoteller-list-item__by">
                <span>Kobenhavn K </span>
            </td>

            <td class="hoteller-list-item__book">
                <span>Book </span>
            </td>
        </tr>
        
         <tr class="home-oversigt-hoteller-list__content">
            <td class="hoteller-list-item__name">
                <span>Hotel Alexandra </span>
            </td>

            <td class="hoteller-list-item__centrum">
                <span>0,2 </span>
            </td>

            <td class="hoteller-list-item__varelser">
                <span>25 </span>
            </td>

            <td class="hoteller-list-item__stjerner">
                <span>4 </span>
            </td>

            <td class="hoteller-list-item__by">
                <span>Kobenhavn V </span>
            </td>

            <td class="hoteller-list-item__book">
                <span>Book </span>
            </td>
        </tr>
        
         <tr class="home-oversigt-hoteller-list__content">
            <td class="hoteller-list-item__name">
                <span>Selandia Budget Hotel Copenhagen </span>
            </td>

            <td class="hoteller-list-item__centrum">
                <span>0,6 </span>
            </td>

            <td class="hoteller-list-item__varelser">
                <span>125 </span>
            </td>

            <td class="hoteller-list-item__stjerner">
                <span>3 </span>
            </td>

            <td class="hoteller-list-item__by">
                <span>Kobenhavn K </span>
            </td>

            <td class="hoteller-list-item__book">
                <span>Book </span>
            </td>
        </tr>
        
         <tr class="home-oversigt-hoteller-list__content">
            <td class="hoteller-list-item__name">
                <span>Clarion Collection Hotel Twentyseven </span>
            </td>

            <td class="hoteller-list-item__centrum">
                <span>0,5 </span>
            </td>

            <td class="hoteller-list-item__varelser">
                <span>365 </span>
            </td>

            <td class="hoteller-list-item__stjerner">
                <span>3 </span>
            </td>

            <td class="hoteller-list-item__by">
                <span>Kobenhavn K </span>
            </td>

            <td class="hoteller-list-item__book">
                <span>Book </span>
            </td>
        </tr>
        
         <tr class="home-oversigt-hoteller-list__content">
            <td class="hoteller-list-item__name">
                <span>Scandic Sydhavnen </span>
            </td>

            <td class="hoteller-list-item__centrum">
                <span>0,2 </span>
            </td>

            <td class="hoteller-list-item__varelser">
                <span>47 </span>
            </td>

            <td class="hoteller-list-item__stjerner">
                <span>3 </span>
            </td>

            <td class="hoteller-list-item__by">
                <span>Kobenhavn S </span>
            </td>

            <td class="hoteller-list-item__book">
                <span>Book </span>
            </td>
        </tr>
        
         <tr class="home-oversigt-hoteller-list__content">
            <td class="hoteller-list-item__name">
                <span>Savoy Hotel </span>
            </td>

            <td class="hoteller-list-item__centrum">
                <span>0,4 </span>
            </td>

            <td class="hoteller-list-item__varelser">
                <span>56 </span>
            </td>

            <td class="hoteller-list-item__stjerner">
                <span>2 </span>
            </td>

            <td class="hoteller-list-item__by">
                <span>Kobenhavn V </span>
            </td>

            <td class="hoteller-list-item__book">
                <span>Book </span>
            </td>
        </tr>
        
         <tr class="home-oversigt-hoteller-list__content">
            <td class="hoteller-list-item__name">
                <span>Scandic Palace Hotel </span>
            </td>

            <td class="hoteller-list-item__centrum">
                <span>1,0 </span>
            </td>

            <td class="hoteller-list-item__varelser">
                <span>214 </span>
            </td>

            <td class="hoteller-list-item__stjerner">
                <span>5 </span>
            </td>

            <td class="hoteller-list-item__by">
                <span>Kobenhvn V </span>
            </td>

            <td class="hoteller-list-item__book">
                <span>Book </span>
            </td>
        </tr>
        
         <tr class="home-oversigt-hoteller-list__content">
            <td class="hoteller-list-item__name">
                <span>Hotel Maritime </span>
            </td>

            <td class="hoteller-list-item__centrum">
                <span>1,1 </span>
            </td>

            <td class="hoteller-list-item__varelser">
                <span>22 </span>
            </td>

            <td class="hoteller-list-item__stjerner">
                <span>5 </span>
            </td>

            <td class="hoteller-list-item__by">
                <span>Kobenhavn K </span>
            </td>

            <td class="hoteller-list-item__book">
                <span>Book </span>
            </td>
        </tr>
        
         <tr class="home-oversigt-hoteller-list__content">
            <td class="hoteller-list-item__name">
                <span>Phoenix Copenhagen </span>
            </td>

            <td class="hoteller-list-item__centrum">
                <span>0,6 </span>
            </td>

            <td class="hoteller-list-item__varelser">
                <span>236 </span>
            </td>

            <td class="hoteller-list-item__stjerner">
                <span>4 </span>
            </td>

            <td class="hoteller-list-item__by">
                <span>Kobenhavn K </span>
            </td>

            <td class="hoteller-list-item__book">
                <span>Book </span>
            </td>
        </tr>
        
    </table>

    <!-- Mobile view -->
    <div class="home-oversigt-hoteller__mobile-table">
        <!-- LIST HOTELLER DATA -->
        
         <div class="home-oversigt-hoteller-list__content">
            <div class="hoteller-list-item__name">
                <span>Hotel Alexandra </span>
            </div>

            <div class="hoteller-list-item__book">
                <a>Book </a>
            </div>
        </div>

        <div class="hoteller-list-item__details">
            <span>CENTRUM: 0,2 KM</span>
            <span><i class="fa fa-circle"></i>VAER: 25</span>
            <span><i class="fa fa-circle"></i>STJERNER: 4</span>
            <span><i class="fa fa-circle"></i>BY: Kobenhavn V</span>
        </div>
        
         <div class="home-oversigt-hoteller-list__content">
            <div class="hoteller-list-item__name">
                <span>Selandia Budget Hotel Copenhagen </span>
            </div>

            <div class="hoteller-list-item__book">
                <a>Book </a>
            </div>
        </div>

        <div class="hoteller-list-item__details">
            <span>CENTRUM: 0,6 KM</span>
            <span><i class="fa fa-circle"></i>VAER: 125</span>
            <span><i class="fa fa-circle"></i>STJERNER: 3</span>
            <span><i class="fa fa-circle"></i>BY: Kobenhavn K</span>
        </div>
        
         <div class="home-oversigt-hoteller-list__content">
            <div class="hoteller-list-item__name">
                <span>Clarion Collection Hotel Twentyseven </span>
            </div>

            <div class="hoteller-list-item__book">
                <a>Book </a>
            </div>
        </div>

        <div class="hoteller-list-item__details">
            <span>CENTRUM: 0,5 KM</span>
            <span><i class="fa fa-circle"></i>VAER: 365</span>
            <span><i class="fa fa-circle"></i>STJERNER: 3</span>
            <span><i class="fa fa-circle"></i>BY: Kobenhavn K</span>
        </div>
        
         <div class="home-oversigt-hoteller-list__content">
            <div class="hoteller-list-item__name">
                <span>Scandic Sydhavnen </span>
            </div>

            <div class="hoteller-list-item__book">
                <a>Book </a>
            </div>
        </div>

        <div class="hoteller-list-item__details">
            <span>CENTRUM: 0,2 KM</span>
            <span><i class="fa fa-circle"></i>VAER: 47</span>
            <span><i class="fa fa-circle"></i>STJERNER: 3</span>
            <span><i class="fa fa-circle"></i>BY: Kobenhavn S</span>
        </div>
        
         <div class="home-oversigt-hoteller-list__content">
            <div class="hoteller-list-item__name">
                <span>Savoy Hotel </span>
            </div>

            <div class="hoteller-list-item__book">
                <a>Book </a>
            </div>
        </div>

        <div class="hoteller-list-item__details">
            <span>CENTRUM: 0,4 KM</span>
            <span><i class="fa fa-circle"></i>VAER: 56</span>
            <span><i class="fa fa-circle"></i>STJERNER: 2</span>
            <span><i class="fa fa-circle"></i>BY: Kobenhavn V</span>
        </div>
        
         <div class="home-oversigt-hoteller-list__content">
            <div class="hoteller-list-item__name">
                <span>Scandic Palace Hotel </span>
            </div>

            <div class="hoteller-list-item__book">
                <a>Book </a>
            </div>
        </div>

        <div class="hoteller-list-item__details">
            <span>CENTRUM: 1,0 KM</span>
            <span><i class="fa fa-circle"></i>VAER: 214</span>
            <span><i class="fa fa-circle"></i>STJERNER: 5</span>
            <span><i class="fa fa-circle"></i>BY: Kobenhvn V</span>
        </div>
        
         <div class="home-oversigt-hoteller-list__content">
            <div class="hoteller-list-item__name">
                <span>Hotel Maritime </span>
            </div>

            <div class="hoteller-list-item__book">
                <a>Book </a>
            </div>
        </div>

        <div class="hoteller-list-item__details">
            <span>CENTRUM: 1,1 KM</span>
            <span><i class="fa fa-circle"></i>VAER: 22</span>
            <span><i class="fa fa-circle"></i>STJERNER: 5</span>
            <span><i class="fa fa-circle"></i>BY: Kobenhavn K</span>
        </div>
        
         <div class="home-oversigt-hoteller-list__content">
            <div class="hoteller-list-item__name">
                <span>Phoenix Copenhagen </span>
            </div>

            <div class="hoteller-list-item__book">
                <a>Book </a>
            </div>
        </div>

        <div class="hoteller-list-item__details">
            <span>CENTRUM: 0,6 KM</span>
            <span><i class="fa fa-circle"></i>VAER: 236</span>
            <span><i class="fa fa-circle"></i>STJERNER: 4</span>
            <span><i class="fa fa-circle"></i>BY: Kobenhavn K</span>
        </div>
        
         <div class="home-oversigt-hoteller-list__content">
            <div class="hoteller-list-item__name">
                <span>Hotel Alexandra </span>
            </div>

            <div class="hoteller-list-item__book">
                <a>Book </a>
            </div>
        </div>

        <div class="hoteller-list-item__details">
            <span>CENTRUM: 0,2 KM</span>
            <span><i class="fa fa-circle"></i>VAER: 25</span>
            <span><i class="fa fa-circle"></i>STJERNER: 4</span>
            <span><i class="fa fa-circle"></i>BY: Kobenhavn V</span>
        </div>
        
         <div class="home-oversigt-hoteller-list__content">
            <div class="hoteller-list-item__name">
                <span>Selandia Budget Hotel Copenhagen </span>
            </div>

            <div class="hoteller-list-item__book">
                <a>Book </a>
            </div>
        </div>

        <div class="hoteller-list-item__details">
            <span>CENTRUM: 0,6 KM</span>
            <span><i class="fa fa-circle"></i>VAER: 125</span>
            <span><i class="fa fa-circle"></i>STJERNER: 3</span>
            <span><i class="fa fa-circle"></i>BY: Kobenhavn K</span>
        </div>
        
         <div class="home-oversigt-hoteller-list__content">
            <div class="hoteller-list-item__name">
                <span>Clarion Collection Hotel Twentyseven </span>
            </div>

            <div class="hoteller-list-item__book">
                <a>Book </a>
            </div>
        </div>

        <div class="hoteller-list-item__details">
            <span>CENTRUM: 0,5 KM</span>
            <span><i class="fa fa-circle"></i>VAER: 365</span>
            <span><i class="fa fa-circle"></i>STJERNER: 3</span>
            <span><i class="fa fa-circle"></i>BY: Kobenhavn K</span>
        </div>
        
         <div class="home-oversigt-hoteller-list__content">
            <div class="hoteller-list-item__name">
                <span>Scandic Sydhavnen </span>
            </div>

            <div class="hoteller-list-item__book">
                <a>Book </a>
            </div>
        </div>

        <div class="hoteller-list-item__details">
            <span>CENTRUM: 0,2 KM</span>
            <span><i class="fa fa-circle"></i>VAER: 47</span>
            <span><i class="fa fa-circle"></i>STJERNER: 3</span>
            <span><i class="fa fa-circle"></i>BY: Kobenhavn S</span>
        </div>
        
         <div class="home-oversigt-hoteller-list__content">
            <div class="hoteller-list-item__name">
                <span>Savoy Hotel </span>
            </div>

            <div class="hoteller-list-item__book">
                <a>Book </a>
            </div>
        </div>

        <div class="hoteller-list-item__details">
            <span>CENTRUM: 0,4 KM</span>
            <span><i class="fa fa-circle"></i>VAER: 56</span>
            <span><i class="fa fa-circle"></i>STJERNER: 2</span>
            <span><i class="fa fa-circle"></i>BY: Kobenhavn V</span>
        </div>
        
         <div class="home-oversigt-hoteller-list__content">
            <div class="hoteller-list-item__name">
                <span>Scandic Palace Hotel </span>
            </div>

            <div class="hoteller-list-item__book">
                <a>Book </a>
            </div>
        </div>

        <div class="hoteller-list-item__details">
            <span>CENTRUM: 1,0 KM</span>
            <span><i class="fa fa-circle"></i>VAER: 214</span>
            <span><i class="fa fa-circle"></i>STJERNER: 5</span>
            <span><i class="fa fa-circle"></i>BY: Kobenhvn V</span>
        </div>
        
         <div class="home-oversigt-hoteller-list__content">
            <div class="hoteller-list-item__name">
                <span>Hotel Maritime </span>
            </div>

            <div class="hoteller-list-item__book">
                <a>Book </a>
            </div>
        </div>

        <div class="hoteller-list-item__details">
            <span>CENTRUM: 1,1 KM</span>
            <span><i class="fa fa-circle"></i>VAER: 22</span>
            <span><i class="fa fa-circle"></i>STJERNER: 5</span>
            <span><i class="fa fa-circle"></i>BY: Kobenhavn K</span>
        </div>
        
         <div class="home-oversigt-hoteller-list__content">
            <div class="hoteller-list-item__name">
                <span>Phoenix Copenhagen </span>
            </div>

            <div class="hoteller-list-item__book">
                <a>Book </a>
            </div>
        </div>

        <div class="hoteller-list-item__details">
            <span>CENTRUM: 0,6 KM</span>
            <span><i class="fa fa-circle"></i>VAER: 236</span>
            <span><i class="fa fa-circle"></i>STJERNER: 4</span>
            <span><i class="fa fa-circle"></i>BY: Kobenhavn K</span>
        </div>
        
    </div>

    <div class="home-oversigt-hoteller__se-alle-hoteller">
        <i class="fa fa-sort-down"></i>
        <i class="fa fa-angle-down"></i><span> Se alle hoteller </span>
    </div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


</body>

</html>
