<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <title>AlTayer Motors website | </title>

    <meta property="og:title" content="Niteco website" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="http://www.niteco.se" />
    <meta property="og:site_name" content="Niteco.se" />
    <meta property="og:description" content="Website Nitceo" />

    <meta name="author" content="" />
    <meta name="description" content="" />

    <link rel="canonical" href="http://www.niteco.se/" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Delius">
    <link href="/public/css/screen.css" rel="stylesheet" media="screen" />
    <link href="/public/css/print.css" rel="stylesheet" media="print" />

    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ['Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic:latin,latin-ext'] }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })(); </script>

</head>

<body class="bg-white">



    <div class="home-hotel-links-wrapper">
    <div class="home-hotel-links__lidt-om-sitet">
        <p class="lidt-om-sitet__title">Lidt om sitet</p>
        <p class="lidt-om-sitet__content">Viser hurtigt og nemt en hoteloversigt over overnatningsmuligheder i Kobenhavn</p>
    </div>

    
    <div class="home-hotel-links-box">
        <div class="hotel-links-box__title">
            <span>Inspiration:</span>
        </div>

        <ul class="hotel-links-box__content">
            
            <li class="hotel-links__item">
                <i class="fa fa-square"></i>
                <a>Hotell Kopenhamn</a>
            </li>
            
            <li class="hotel-links__item">
                <i class="fa fa-square"></i>
                <a>Hoteller</a>
            </li>
            
            <li class="hotel-links__item">
                <i class="fa fa-square"></i>
                <a>Hotel Berlin</a>
            </li>
            
            <li class="hotel-links__item">
                <i class="fa fa-square"></i>
                <a>Sommerhuse i Danmark</a>
            </li>
            
            <li class="hotel-links__item">
                <i class="fa fa-square"></i>
                <a>Hoteller Arhus</a>
            </li>
            
            <li class="hotel-links__item">
                <i class="fa fa-square"></i>
                <a>Hoteller Odense</a>
            </li>
            
        </ul>
    </div>
    
    <div class="home-hotel-links-box">
        <div class="hotel-links-box__title">
            <span>Overnatning Kobenhavn</span>
        </div>

        <ul class="hotel-links-box__content">
            
            <li class="hotel-links__item">
                <i class="fa fa-square"></i>
                <a>Hoteller Kobenhavn</a>
            </li>
            
            <li class="hotel-links__item">
                <i class="fa fa-square"></i>
                <a>Hotell Kobenhavn centrum</a>
            </li>
            
            <li class="hotel-links__item">
                <i class="fa fa-square"></i>
                <a>Hotell Vesterbro</a>
            </li>
            
            <li class="hotel-links__item">
                <i class="fa fa-square"></i>
                <a>Hotel Norrebro</a>
            </li>
            
            <li class="hotel-links__item">
                <i class="fa fa-square"></i>
                <a>Hotel Amager</a>
            </li>
            
            <li class="hotel-links__item">
                <i class="fa fa-square"></i>
                <a>Hotel Osterbro</a>
            </li>
            
            <li class="hotel-links__item">
                <i class="fa fa-square"></i>
                <a>Hotel Amager</a>
            </li>
            
            <li class="hotel-links__item">
                <i class="fa fa-square"></i>
                <a>Hotel Osterbro</a>
            </li>
            
            <li class="hotel-links__item">
                <i class="fa fa-square"></i>
                <a>Hotel tilbud Kobenhavn</a>
            </li>
            
            <li class="hotel-links__item">
                <i class="fa fa-square"></i>
                <a>Billige hoteller Kobenhavn</a>
            </li>
            
        </ul>
    </div>
    
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


</body>

</html>
