.space-clear {
    clear: both;
}

.home-footer-container {
    background-color: $WHITE;

    .home-footer- {
        &wrapper {
            height: 100%;
            text-align: center;
            color: $DARK_GRAY_TEXT;
            font-size: 15px;
            padding: 15px 20px;

            .home-footer- {
                &list-links, &social, &email {
                    display: inline-block;
                    text-align: left;
                }

                &list-links {
                    width: 28%;
                    padding: 15px 0;

                    .list-links__content {
                        padding: 0 18px;
                    }

                    @media (max-width: $TABLET){
                        width: 39%;
                        padding-left: 4vw;
                    }

                    @media (max-width: $PHONE){
                        width: 49.5%;
                        padding-left: 10vw;
                    }

                    @media (max-width: $SMALL_PHONE){
                        width: 45%;
                        padding-left: 15px;
                    }

                }

                &social {
                    width: 18%;
                    top: -15px;
                    position: relative;

                    .social-icon__wrapper {
                        widows: 100%;
                        height: 40px;
                        line-height: 2.7;

                        .social-icon__icon {
                            cursor: pointer;
                            display: inline-block;
                            color: $WHITE;
                            background-color: $BLACK;
                            border-radius: 50%;
                            font-size: 16px;
                            height: 30px;
                            width: 30px;
                            text-align: center;
                            line-height: 2;
                        }

                        span { margin-left: 7px; }
                    }

                    @media (max-width: $TABLET){
                        width: 20%;
                    }

                    @media (max-width: $PHONE) {
                        border-top: 1px solid $LIGHT_GRAY_BORDER;
                        text-align: center;
                        padding: 13px 0;
                        width: 100%;
                        top: 0;

                        .list-links__title, .social-icon__wrapper {
                            display: inline-block;
                        }

                        .social-icon__wrapper {
                            margin-left: 10px;
                        }
                    }
                }

                &email {
                    width: 24.5%;
                    top: -60px;
                    position: relative;

                    .email-box__content {
                        display: inline-block;
                        
                        input {
                            width: 60%;
                            height: 30px;
                            padding: 5px;
                            display: inline-block;
                        }

                        .email-box__submit {
                            height: 31px;
                            padding: 5px 10px;
                            color: $WHITE;
                            background: $OCEAN_BLUE;
                            font-weight: 700;
                            text-decoration: none;
                            display: inline-block;
                        }
                    }

                    @media (max-width: $TABLET){
                        text-align: center;
                        padding: 15px 0 12px 0;
                        line-height: 1;
                        top: 0;
                        border-top: 1px solid $LIGHT_GRAY_BORDER;
                        width: 100%;

                        p {
                                display: inline-block;
                        }

                        .email-box__submit {
                            line-height: 1.3;
                        }
                    }

                    @media (max-width: $PHONE){
                        text-align: center;
                        padding: 15px 0;
                        line-height: 1;
                        width: 100%;
                        top: 0;

                        p {
                            display: inline-block;
                        }

                        .email-box-content {
                            max-width: 200px;

                            .email-box__submit {
                                line-height: 1.3;
                            }
                        }
                    }

                    @media (max-width: $SMALL_PHONE){
                        .email-box__content {
                            max-width: 180px;

                                input {
                                    width: 50%;
                                }
                        }
                    }
                }

                .list-links__title {
                    font-weight: 700;
                    font-size: 17px;

                    @media (max-width: $PHONE){
                        font-size: 15px;
                    }
                }

                &copyright {
                    width: 100%;
                    height: 45px;

                    .list-links__content {
                        font-weight: 300;
                        padding: 10px;
                    }

                    @media (max-width: $TABLET){
                        border-top: 1px solid $LIGHT_GRAY_BORDER;
                        width: 100%;
                        padding: 12px 0;
                    }
                }
            }
        }
    }
}