<div class="space-clear"></div>

<div class="home-footer-container">
    <div class="home-footer-wrapper container">
        <div class="home-footer-list-links">
            <p class="list-links__title">Veritas nesio</p>
            <ul class="list-links__content">
                <li>Lorem ipsum dolores</li>
                <li>Menna penna</li>
                <li>Mesta malum de</li>
                <li>Ipsum lorem</li>
            </ul>
        </div>

        <div class="home-footer-list-links">
            <p class="list-links__title">Lorem ipsum</p>
            <ul class="list-links__content">
                <li>Lorem ipsum dolores</li>
                <li>Menna penna</li>
                <li>Mesta malum de</li>
                <li>Ipsum lorem</li>
            </ul>
        </div>

        <div class="home-footer-social">
            <p class="list-links__title">Folg os pa:</p>

            <div class="social-icon__wrapper">
                <div class="social-icon__icon">
                    <i class="fa fa-facebook"></i>
                </div>
                <span> Facebook</span>
            </div>
            
            <div class="social-icon__wrapper">
                <div class="social-icon__icon">
                    <i class="fa fa-twitter"></i>
                </div>
                <span> Twitter</span>
            </div>
        </div>

        <div class="home-footer-email">
            <p class="list-links__title">Fa vores nyhedsbrev:</p>
            <form class = "email-box__content">
                <input type="text" name="footer-email" placeholder="Din e-mail">

                <a class="email-box__submit">Tilmeld</a>
            </form>
        </div>

        <div class="home-footer-copyright">
            <p class="list-links__content">Copyright © 2015 Kobenhavn Hoteller </p>
        </div>
    </div>
</div>