<div class="home-search-form-wrapper">

    <div class="home-search-toggle-button">
        <i class="fa fa-sort-down"></i>

        <span>SOG EFTER HOTEL HER</span>
    </div>

    <form class="home-search-form">
        <div class="search-form__location-drop-list">
            <p class="search-form-input-title">
                By/Omrade:
            </p>

            <select class="search-form-drop-list" name="searching-city">
                <option value="volvo">Kobenhavn</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
            </select>

            <select class="search-form-drop-list" name="searching-town">
                <option value="volvo">Alle</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
            </select>
        </div>

        <div class="search-form__calender-boxs">
            <div class="calender-boxs__items">
                <p class="search-form-input-title">
                    Ankomst:
                </p>

                <div class="calender-box__content">
                    <div class="box-content__details">
                        28, December 2016
                    </div>

                    <div class="box-content__icon">
                        <img src="/public/img/calendar_icon.png">
                    </div>
                </div>
            </div>
            
            <div class="calender-boxs__items">
                <p class="search-form-input-title">
                    Afrejse:
                </p>

                <div class="calender-box__content">
                    <div class="box-content__details">
                        28, December 2016
                    </div>

                    <div class="box-content__icon">
                        <img src="/public/img/calendar_icon.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="search-form__number-drop-lists">
            <div class="number-drop-lists__items">
                <span class="search-form-input-title">
                    Voksne pr.varelse:
                </span>

                 <select class="search-form-drop-list" name="searching-voksne">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            
            <div class="number-drop-lists__items">
                <span class="search-form-input-title">
                    Born (under 12):
                </span>

                 <select class="search-form-drop-list" name="searching-born">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">10</option>
                </select>
            </div>
        </div>

        <div class="search-form__check-box">
            <input type="checkbox" id="sog-uden-dato" class="search-form-check-box" name="sog-uden-dato"/>
            <label id="check-box-label" for="sog-uden-dato"><i class="fa fa-check" aria-hidden="true"></i></label>
            <span> Sog uden dato</span>
        </div>

        <div class="search-form__sog-button">
            <input type="submit" class="sog-button" value="SOG">
        </div>
    </form>
    
</div>


<script>
    $(document).ready(function(){
        $(window).on('resize', function () {
            if ($(window).width() <= 480) {
                $(".home-search-form").hide();
            } else {
                $(".home-search-form").show();
            }
        });

        if ($(window).width() <= 480) {
            $(".home-search-form").hide();
        } else {
            $(".home-search-form").show();
        }
    })

    function toggleFunc() {
        $(".home-search-form").toggle(200);

        if($(window).width() > 992){
            if($(".home-hotel-links-wrapper").css("margin-top") == "20px"){
                $(".home-hotel-links-wrapper").css("margin-top",-200);
            } 
            else if($(".home-hotel-links-wrapper").css("margin-top") == "-200px") {
                $(".home-hotel-links-wrapper").css("margin-top",20);
            }
        }
    }

    $(".home-search-toggle-button").on('tab click', toggleFunc);

    $("#check-box-label").on('tab click', function(){
        if($(".search-form-check-box").is(':checked')){
            $(this).find('i').fadeOut(100);
        } else {
            $(this).find('i').fadeIn(100);
        }
    })
</script>