<div class="home-search-form-wrapper">

    <div class="home-search-toggle-button">
        <i class="fa fa-sort-down"></i>

        <span>SOG EFTER HOTEL HER</span>
    </div>

    <form class="home-search-form">
        <div class="search-form__location-drop-list">
            <p class="search-form-input-title">
                By/Omrade:
            </p>
            
            {{> search_form_select_input search_form_select_lists.options.[0]}}

            {{> search_form_select_input search_form_select_lists.options.[1]}}
        </div>

        <div class="search-form__calender-boxs">
            <div class="calender-boxs__items">
                <p class="search-form-input-title">
                    Ankomst:
                </p>

                <div class="calender-box__content">
                    <div class="box-content__details">
                        28, December 2016
                    </div>

                    <div class="box-content__icon">
                        <img src="/public/img/calendar_icon.png">
                    </div>
                </div>
            </div>
            
            <div class="calender-boxs__items">
                <p class="search-form-input-title">
                    Afrejse:
                </p>

                <div class="calender-box__content">
                    <div class="box-content__details">
                        28, December 2016
                    </div>

                    <div class="box-content__icon">
                        <img src="/public/img/calendar_icon.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="search-form__number-drop-lists">
            <div class="number-drop-lists__items">
                <span class="search-form-input-title">
                    Voksne pr.varelse:
                </span>

                 {{> search_form_select_input search_form_select_lists.options.[2]}}

            </div>
            
            <div class="number-drop-lists__items">
                <span class="search-form-input-title">
                    Born (under 12):
                </span>

                 {{> search_form_select_input search_form_select_lists.options.[3]}}
            </div>
        </div>

        <div class="search-form__check-box">
            <input type="checkbox" id="sog-uden-dato" class="search-form-check-box" name="sog-uden-dato"/>
            <label id="check-box-label" for="sog-uden-dato"><i class="fa fa-check" aria-hidden="true"></i></label>
            <span> Sog uden dato</span>
        </div>

        <div class="search-form__sog-button">
            <input type="submit" class="sog-button" value="SOG">
        </div>
    </form>
    
</div>


<script>
    $(document).ready(function(){
        $(window).on('resize', function () {
            if ($(window).width() <= 480) {
                $(".home-search-form").hide();
            } else {
                $(".home-search-form").show();
            }
        });

        if ($(window).width() <= 480) {
            $(".home-search-form").hide();
        } else {
            $(".home-search-form").show();
        }
    })

    function toggleFunc() {
        $(".home-search-form").toggle(200);

        if($(window).width() > 992){
            if($(".home-hotel-links-wrapper").css("margin-top") == "40px"){
                $(".home-hotel-links-wrapper").css("margin-top",-140);
            } 
            else if($(".home-hotel-links-wrapper").css("margin-top") == "-140px") {
                $(".home-hotel-links-wrapper").css("margin-top",40);
            }
        }
    }

    $(".home-search-toggle-button").on('tab click', toggleFunc);

    $("#check-box-label").on('tab click', function(){
        if($(".search-form-check-box").is(':checked')){
            $(this).find('i').fadeOut(100);
        } else {
            $(this).find('i').fadeIn(100);
        }
    })
</script>