.home-hoteller-tilbud-wrapper {
    margin-bottom: 40px;
    background-color: $WHITE;

    .home-hoteller-tilbud__title, .home-hoteller-tilbud__hotel-box {
        border-bottom: 1px solid $LIGHT_GRAY_BORDER;
        padding: 20px 35px;
    }

    .home-hoteller-tilbud__title {

        .hoteller-tilbud-title__big-title, .hoteller-tilbud-title__details {
            margin-bottom: 0;
        }
        
        .hoteller-tilbud-title__big-title {
            font-size: 25px;
            color: $DARK_GRAY_TEXT;
            font-weight: bold;
        }

        .hoteller-tilbud-title__details {
            font-size: 19px;
            color: $GRAY;
            font-weight: 300;
        }
    }

    .home-hoteller-tilbud__se-alle-tilbud {
        font-weight: 500;
        color: $OCEAN_BLUE;

        &:hover {
            color: $OCEAN_BLUE;
        }
    }

    .home-hoteller-tilbud__hotel-box {
        padding: 25px 35px;

        .hotel-box__image {
            width: 187px;
            height: 124px;
            float: left;

            .image-desktop {
                width: 100%;
                height: 100%;
                display: block;
            }

            .image-mobile {
                display: none;
            }
        }

        .hotel-box__content {
            padding-left: 210px;
            clear: right;
            position: relative;

            .hotel-box-content__details {
                line-height: 1.3;
                width: 73%;
                display: inline-block;

                .hotel-box-details__tilbud {
                    font-size: 17px;
                    font-weight: 500;
                    color: $BROWN_RED;
                }

                
                .hotel-box-details__name {
                    font-size: 19px;
                    font-weight: 700;
                    margin-bottom: 10px;
                    color: $DARK_GRAY_TEXT;

                    .hotel-box-details__rating {
                        display: inline-block;
                        color: $GRAY_ICON;
                        font-size: 23px;
                        position: relative;

                        .rating-point {
                            color: $OCEAN_BLUE;
                            overflow: hidden;
                            position: absolute;
                            display: inline-block;
                            top: 0;
                        }

                        @media (max-width: $TABLET){
                            display: block;
                            width: 100px;

                            .rating-point {
                                left: 0;
                            }
                        }
                    }
                }
                

                .hotel-box-details__history {
                    font-size: 16px;
                    font-weight: 300;
                    color: $DARK_GRAY_TEXT;
                }

                .home-hoteller-tilbud__se-alle-tilbud {
                    font-size: 16px;
                }
            }

            .hotel-box-content__book {
                display: inline-block;
                position: absolute;
                right: 0;

                p {
                    margin-bottom: 0 !important;
                }

                .book__old-price {
                    position: relative;

                    span:before {
                        content: "";
                        position: absolute;
                        border-top: 1px solid $DARK_GRAY_TEXT;
                        top: 10px;
                        width: 100px;
                    }
                }

                .book__old-price {
                    font-size: 16px;
                    color: $DARK_GRAY_TEXT;
                    font-weight: 300;
                }

                .book__new-price {
                    font-size: 33px;
                    color: $DARK_GRAY_TEXT;
                    font-weight: 700;
                }

                .book__button {
                    display: inline-block;
                    padding: 5px 30px;
                    font-size: 18px;
                    font-weight: 700;
                    color: $WHITE;
                    background: $OCEAN_BLUE;
                    text-decoration: none;
                }
            }

            @media (max-width: $SMALL_LAPTOP) {
                .hotel-box-content__details {
                    width: 66%;
                }

                .hotel-box-content__book {
                    padding-left: 4px;
                }
            }

            @media (max-width: $TABLET) {
                .hotel-box-content__details {
                    width: 65.5%;
                }

                .hotel-box-content__book {
                    padding-left: 25px;
                }
            }
        }

        @media (max-width: $SMALL_LAPTOP) {
            padding: 25px 25px;
        }

        @media (max-width: $TABLET) {
            padding: 25px 25px;
        }

        @media (max-width: $BIG_PHONE) {
            padding: 30px 20px;
            padding-bottom: 0;

            .hotel-box__image {
                width: 100%;
                min-height: 125px;
                float: none;
                clear: both;

                .image-desktop {
                   display: none;
                }

                .image-mobile {
                    width: 100%;
                    height: 100%;
                    display: block;

                    background-repeat: no-repeat !important;
                    background-size: cover !important;
                    background-position: center center;
                }
            }

            .hotel-box__content {
                padding: 0;
                top: -25px;

                .hotel-box-content__details {
                    width: 73%;
                    position: relative;

                    .hotel-box-details__tilbud {
                        span {
                            height: 40px;
                            padding: 10px;
                            display: inline-block;
                            background-color: $WHITE;
                        }
                    }

                    .hotel-box-details__name, .hotel-box-details__history, .home-hoteller-tilbud__se-alle-tilbud {
                        padding: 0 7px;
                    }

                    .hotel-box-details__name {
                        margin-top: -10px;
                    }
                }

                .hotel-box-content__book {
                    position: absolute;
                    right: 0;
                    top: 35px;
                }
            }
        }

        @media (max-width: $SMALL_PHONE) {
             .hotel-box__content {
                padding: 0;
                top: -40px;

                .hotel-box-content__details {
                    width: 58%;
                    position: relative;

                    .hotel-box-details__name {
                        margin-top: 0;
                    }
                }

                .hotel-box-content__book {
                    top: 50px;
                }
             }
        }
    }

     .home-hoteller-tilbud__se-alle-tilbud.footer {
         font-size: 18px;
         text-align: right;
         padding: 10px;
         padding-right: 30px;

        .fa-angle-double-right {
            display: inline-block;
        }

        .fa-sort-down {
            color: $DARK_GRAY_TEXT;
            display: none;
            position: relative;
            top: -3px;
        }

         @media (max-width: $TABLET) {
           text-align: center;

           .fa-angle-double-right {
               display: none;
           }

           .fa-sort-down {
               display: inline-block;
           }
        }
     }
}