<div class="home-hoteller-tilbud-wrapper">
    <div class="home-hoteller-tilbud__title">
        <p class="hoteller-tilbud-title__big-title">HOTELLER I KOBENHAVN</p>
        <p class="hoteller-tilbud-title__details">Dagens udvalgte hoteltilbud fra hoteller i Kobenhavn</p>
    </div>

    {{#each home_hoteller_tilbud_list.items}}
        {{> hoteller_tilbud_box}}
    {{/each}}

    <div class="home-hoteller-tilbud__se-alle-tilbud footer"><i class="fa fa-sort-down"></i> Se alle tilbud <i class="fa fa-angle-double-right"></i></div>
</div>

<script>
    $('.rating-point').each(function () {
        var rating = $(this).attr("title");
        $(this).css("width", rating * 20 + "%");
    })
</script>