<div class="home-red-box-wrapper">
    <div class="home-red-box__title">
        BOOK DIT HOTEL I KOBENHAVN HER!
    </div>

    <div class="home-red-box__details">
        Hoteloversigt over 73 hoteller Kobenhavn. Stor hotelguide over Kobenhavn der nemt viser byens hoteller med deres placering.
    </div>

    <div class="home-red-box__closing-button">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
</div>